.header-icon {
    display: inline-block;
    margin-right: 10px;
    font-size: 24px !important;
}
#head .personal-business-header .tab.business a {
	display: block;
	text-decoration: none;
}
#head .icon-menu span.menu-label {
	font-size: 18px;
	margin-left: 10px;
	font-weight: 600;
}

.reminder-link a {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 30px;
	color: #4d94d1;
}
@media (min-width: 831px) {
	.header-icon {
	    display: none;
	}
	.menu-label {
		display: none
	}
}
#login-block .block-container {
	padding-top: 30px;
	padding-bottom: 30px;
}
@media(max-width: 830px) {
	#head .icon-menu {
		display: flex;
		align-items: center;
	}
	#head .icon-menu {
		font-size: 26px;
		padding-left: 10px
	}
	.phone body section,
	.phone body .section {
		min-height: auto;
	}
	.ml-md-auto {
		margin-left: auto;
	}
	.header-link{
		display: none;
	}
	.phone #head .search_form {
		padding: 0 !important;
	}
	.phone body .navigation-menu {
		min-height: 0;
	}
	.search_form input {
		display: none;
		padding: 0;
	}
	.phone #head .search_form .yxt-SearchBar button {
		top: -46px;
	}
	#head .personal-business-header {
		padding: 0px 55px 0px 65px;
		margin: -1px;
	}
	#head .icon-menu {
		line-height: 1;
	}
	#head #home-and-menu{
		padding: 18px 0;
		padding-left: 35px;
	}
	#head .personal-business-header .tab {
		margin-top: 10px;
		padding: 0;
	}
	#head #homelink img {
		display: block;
		height: 40px;
		width: 40px;
		padding-top: 5px;		
	}
}

.header-icon.marker::after {
	height: 20px	;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='pull-left' width='22px' height='22px' viewBox='0 0 30 30' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ELocationPin/Filled/Black/30%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='LocationPin/Filled/Black/30' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M15.00087,16.6558908 C12.2317215,16.6558908 9.97831092,14.5747897 9.97831092,12.0154109 C9.97831092,9.45702019 12.2317215,7.37591908 15.00087,7.37591908 C17.7710885,7.37591908 20.0234291,9.45702019 20.0234291,12.0154109 C20.0234291,14.5747897 17.7710885,16.6558908 15.00087,16.6558908 M14.9998,1.0002 C8.38294757,1.0002 2.9998,6.01025823 2.9998,12.1685783 C2.9998,14.4631257 3.74237691,16.667749 5.0884313,18.4603023 C5.32062033,18.8466796 5.57527927,19.2132933 5.88664797,19.5976943 L14.1844634,28.6513735 C14.3888325,28.871737 14.6873613,29.0002 15.00194,29.0002 C15.3165187,29.0002 15.6150474,28.871737 15.8194166,28.6503853 L24.1429119,19.5631081 C24.4072008,19.2340451 24.6543698,18.8802776 24.8779988,18.5106994 C26.2657831,16.6420564 26.9998,14.4502794 26.9998,12.1685783 C26.9998,6.01025823 21.6166524,1.0002 14.9998,1.0002' id='Fill-1' fill='%23000000'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
.header-icon.wifi::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='pull-left' width='22px' height='22px' viewBox='0 0 30 30' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ECoverage/Black/30%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Coverage/Black/30' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M15,22 C13.897,22 13,22.897 13,24 C13,25.103 13.897,26 15,26 C16.103,26 17,25.103 17,24 C17,22.897 16.103,22 15,22 M15,28 C12.794,28 11,26.206 11,24 C11,21.794 12.794,20 15,20 C17.206,20 19,21.794 19,24 C19,26.206 17.206,28 15,28' id='Fill-1' fill='%23000000'%3E%3C/path%3E%3Cpath d='M8.99085458,17.9997782 C8.7372592,17.9997782 8.48366383,17.9128241 8.29049548,17.7398031 C7.90316817,17.392874 7.90316817,16.8321087 8.29049548,16.4851795 C11.9914029,13.1720505 18.0103306,13.1711632 21.7102475,16.4851795 C22.0965842,16.8321087 22.0965842,17.392874 21.7102475,17.7398031 C21.3229202,18.0867323 20.695866,18.0867323 20.3095293,17.7398031 C17.3822858,15.1178705 12.6204383,15.1187578 9.69121367,17.7398031 C9.49804532,17.9128241 9.24444995,17.9997782 8.99085458,17.9997782' id='Fill-3' fill='%23000000'%3E%3C/path%3E%3Cpath d='M24.9554269,13.9997475 C24.688083,13.9997475 24.4207391,13.9007638 24.2170982,13.7048166 C19.1344314,8.78997539 10.8634799,8.79098542 5.78290176,13.7038066 C5.37457575,14.0987311 4.71352621,14.0987311 4.30624451,13.7038066 C3.8979185,13.308882 3.8979185,12.6695284 4.30624451,12.2756139 C10.2013861,6.57395367 19.7965253,6.57597375 25.6937555,12.2746039 C26.1020815,12.6695284 26.1020815,13.308882 25.6937555,13.7038066 C25.4901146,13.9007638 25.2227707,13.9997475 24.9554269,13.9997475' id='Fill-5' fill='%23000000'%3E%3C/path%3E%3Cpath d='M28.00025,8.99976264 C27.74425,8.99976264 27.48825,8.90671889 27.29325,8.72253022 C20.51325,2.28921893 9.48325,2.29016836 2.70725,8.72158079 C2.31625,9.0928064 1.68425,9.0928064 1.29325,8.72158079 C0.90225,8.35035519 0.90225,7.74936846 1.29325,7.37909228 C8.85125,0.206178059 21.14725,0.208076911 28.70725,7.37814286 C29.09825,7.74936846 29.09825,8.35035519 28.70725,8.72158079 C28.51225,8.90671889 28.25625,8.99976264 28.00025,8.99976264' id='Fill-7' fill='%23000000'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

@media (max-width: 640px) {
	#head .my3 {
		display: none !important;
	}
}
